POSTGRES_DB=optionscope
POSTGRES_USER=optionscope_user
POSTGRES_PASSWORD=change_this_local_password

ALPACA_API_KEY=alpaca_api_key
ALPACA_SECRET_KEY=alpaca_secret_key
ALPACA_DATA_BASE_URL=https://data.alpaca.markets
ALPACA_TRADING_BASE_URL=https://paper-api.alpaca.markets